@media (max-width: 1200px) {    
    .button {
        &:hover {
            background: $main-color;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 12px;
        }
        &_main {
            &:hover {
                font-size: 16px;
            }
        }   
        &_subbmit {
            &:hover {
                font-size: 16px;
            }
        }
        &_mini {
            &:hover {
                font-size: 14px;
            }
        }    
    }    
    .carousel {
        padding: 20px 0;
        .prev {
            width: 31px;
            height: 50px;
            left: 130px;
        }
        .next {
            left: auto;
            right: 130px;
        }
        .tns-item {
            img {
                width: 500px;
            }
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 200px;
            padding: 20px 20px 10px 20px;
        }
        &__addr {
            font-size: 15px;
            a {
                text-decoration: underline;
            }
        }
        &__phone {       
            font-size: 15px;
        }    
        &__social-item {       
            width: 41px;
            height: 40px;
            img {
                height: 23px;
            }
        }
    }      
}

@media (max-width: 991px) {
    .header {
        padding: 0 10px;
    }
    .promo {
        &__wrapper {
            padding-right: 10px;
            align-items: center;
        }
    }
    .advantages {
        padding: 70px 5px 64px 5px;
    }
    .consultation {
        padding: 100px 20px 108px 30px;
    }
    .title {
        &_left {
            font-size: 30px;
        }            
    }
    .carousel {
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        .tns-nav {
            display: flex;
            justify-content: center;
            button {
                width: 25px;
                height: 3px;
                border: none;
                margin-right: 5px;
            }
        }
        .tns-nav-active {
            background-color: rgba(245, 39, 39, 0.81);
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__content {
            justify-content: center;                     
        }
        &-item{
            &:nth-child(2n+1) {
                margin-right: 55px;
            }
        }   
    }
    .feed {
        max-width: 100%;
        &__content {
            padding: 0 20px;
        }
        &__people {
            margin-left: 40px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 33%;
        }
        &__phone {
            font-size: 17px;
        }
        &__official {
            width: 33%;
        }
    }
    .promo { 
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__item {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .title {
        &_left {
            font-size: 25px;
        }            
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .catalog {
        padding-bottom: 20px;
        h2 {
            font-size: 25px;
        }
        &__tabs {
            margin-top: 20px;
            width: 500px;
            padding-left: 10%;
        }
        &__tab {
            div {
                font-size: 14px;
            }
        }
        &-item{
            &:nth-child(2n+1) {
                margin-right: 0;
            }
        }   
    }
    .feed {
        &__content {
            padding: 0 20px;
        }
        &__people {
            margin-left: 40px;
        }
    }
    .footer {
        min-height: 200px;
        &__map {
            display: none;
        }
        &__info {
            width: 100%;
            height: 200px;
            padding: 20px 20px 10px 20px;
        }
        &__addr {
            a {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }      
}

@media (max-width: 575px) {
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 50%;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 135px;
        &_main {
            width: 250px;
        }
    }
    .promo {
        &__wrapper {
            padding: 0 10px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 100%;
        }
    }
    .title {
        font-size: 24px;
        &_left {
            font-size: 19px;
        }
    }
    .consultation {
        padding-top: 40px;
        &__descr {
            font-size: 17px;
        }
        input {
            width: 260px;
        }
        label.error {
            margin-top: -10px;
            text-align: left;
        }
    }
    .button {
        &_subbmit {
            width: 260px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        h2 {
            font-size: 23px;
        }
        &__tabs {
            flex-direction: column;
            width: 100%;
            padding-left: 0;
        }
        &__content {
            margin-left: 10px;
        }
    }
    .feed {
        &__img {
            display: none;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .footer {
        &__info {
            padding: 20px 20px 10px 20px;
        }
        &__addr {
            a {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }  
    .modal {
        width: 300px;
        height: 303px;
        padding: 30px 20px 20px 20px;
        .feed-form_mt25 {
            margin-top: 10px;
        }
        form {
            max-width: 100%;
            input {
                height: 45px;
            }
        }
        &__close {
            right: 5px;
            top: 5px;
        }
        &__subtitle {
            font-size: 16px;
        }
        .button {
            &_subbmit {
                height: 45px;
            }
        }
        label.error {
            margin-top: -10px;
            margin-bottom: 5px;
            text-align: left;
            font-size: 13px;
        }
            
    }
        
}